.Minecraft-Info {
    width: 230px;
    height: 310px;

    background-image: url("../assets/stats-bg.png");
    background-size: 90%;
    image-rendering: pixelated;

    color: white;

    text-shadow: 1px 1px 2px black;
}

.Minecraft-StatusIcon {
    margin-bottom: 2px;
}

.Minecraft-SkinViewer {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAABlBMVEX4+Pj///9njiF9AAAAFElEQVQIW2P4/5+BgYGKBIYAZQQA7b0/waIf9f4AAAAASUVORK5CYII=);
    background-size: auto 12.5%;
    image-rendering: pixelated;

    width: 230px;
    height: 310px;

    animation-name: bg-animation;
    animation-duration: 3600s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@media (min-width: 601px) {
    .Minecraft {
        display: flex;
    }

    .Minecraft-Info {
        margin-left: 15px;
    }
}

@media (max-width: 600px) {
    .Minecraft-Info {
        margin-top: 15px;
    }
}

@keyframes bg-animation {
    from {
        background-position: 72000px 72000px;
    }
    to {
        background-position: 1px 1px;
    }
}
