.Projects {
    display: grid;
    grid-gap: 12px;
    margin-bottom: 20px;
}

.Project-Animation {
    animation: change-width 2s normal;
}

@keyframes change-width {
    0% {
        word-break: break-all;
        width: 50%;
    }
    100% {
        word-break: normal;
        width: 100%;
    }
}

@media (min-width: 601px) {
    .Projects {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 795px) {
    .Projects {
        grid-template-columns: repeat(1,1fr);
    }
}
