.Hypixel {
    padding: 0 !important;
    height: 450px;
}


.Info-List {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
    justify-content: center;
}

.Info-List > .vkuiSimpleCell > .vkuiSimpleCell__main {
    text-align: center;
}

.Info-List > .vkuiSimpleCell > .vkuiSimpleCell__main > .vkuiSimpleCell__content {
    display: unset !important;
}

.Info-Title {
    text-align: center;
}

.Mode {
    height: 0;
    transition: height 0.5s;
}

#hypixel-group,
#hypixel-group > .Group__inner,
#hypixel-card > .Card__in {
    height: 100%;
}

#hypixel-group > .Group__inner {
    height: calc(100% - 16px);
}
