.Friends {
    overflow: hidden;
    padding: 15px;
    display: flex;
}

.Friends-Container {
    position: absolute;
    display: flex;
    animation: marquee 25s linear infinite;
}

.Friends-Container:hover {
    animation-play-state: paused;
}

.Friends-Loader {
    color: var(--text_placeholder);
    text-align: center;
    justify-content: center;
    display: flex;
    margin: 16px 0 !important;
    min-height: 24px;
}

#friends-card > .Card__in {
    width: 100%;
    height: 100%;
}

@keyframes marquee {
    0% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}
