@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital@0;1&display=swap');

.Group-Title {
    text-align: center;
    margin-bottom: 20px;
}

.Footer {
    display: flex;
    align-items: center;
}

.Footer-Icon {
    height: 20px;
    width: 20px;
    margin-left: 5px;
}

div#root {
    overflow-x: hidden;
    user-select: none;
    user-focus: none;
    font-family: "Exo 2", sans-serif;
}

span {
    line-height: normal !important;
}

img {
    pointer-events: none;
}

/* width */
::-webkit-scrollbar {
    width: 0;
}
